<h1>Editing resturant</h1>

<%= render "form", resturant: @resturant %>

<br>

<div>
  <%= link_to "Show this resturant", @resturant %> |
  <%= link_to "Back to resturants", resturants_path %>
</div>
